.App{
  width: 40vw;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h1{
  margin: 0px;
}

.map img{
 width: 30px;
 height: 30px;
 border-radius: 15px;
}

.map h1{
  font-size: 12px;
 }

 .map p{
  font-size: 10px;
 }
 
 .status{
  display: flex;
  flex-direction: column;
  padding: 10px;
  
 }
 .status h1,p{
  margin: 0px;
 }
 
 .map{
  display: flex;
  align-items: center;
 }